<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="ServiceName" value="Git Log RESTful API Windows Service" />
		<add key="ServiceDisplayName" value="Git Log RESTful API Windows Service" />
		<add key="ServiceDescription" value="This is a git log RESTful API Service." />
	</appSettings>
</configuration>
